exportPattern("^[[:alpha:]]+")

export(
  "create.barplot",
  "create.boxplot",
  "create.histogram",
  "create.scatterplot",
  "create.stripplot",
  "create.stacked.barplot",
  "default.barplot.theme",
  "default.boxplot.theme",
  "default.heatmap.theme",
  "write.plot"
  )
