exportPattern("^[[:alpha:]]+")

export(
  "create.barplot",
  "create.boxplot",
  "create.histogram",
  "create.multiplot",
  "create.scatterplot",
  "create.stacked.barplot",
  "create.stepplot",
  "create.stripplot",
  "create.violinplot",
  "default.barplot.theme",
  "default.boxplot.theme",
  "default.heatmap.theme",
  "default.stepplot.theme",
  "write.plot"
  )
